Exercicio 1:

In [26]:
import math as mt

In [27]:
largura = 17
altura = 12.0
delimitador = '.'

In [28]:
#Expressões
print('Resultado',largura/2, type(largura/2))
print('Resultado',largura/2.0, type(largura/2.0))
print('Resultado',altura/3, type(altura/3))
print('Resultado',1 + 2 * 5, type(1 + 2 * 5))
print('Resultado',delimitador*5, type(delimitador*5))

Resultado 8.5 <class 'float'>
Resultado 8.5 <class 'float'>
Resultado 4.0 <class 'float'>
Resultado 11 <class 'int'>
Resultado ..... <class 'str'>

Exercício 2: Volume de esfera

In [41]:
r = 5
pi = mt.pi
V =(4/3)*pi*(r**3)
print('Volume é =', V,'u.r')

Volume é = 523.5987755982989 u.r

Exercicio 3: Livros

In [47]:
Preço = 24.95
desconto =(40/100)*(24.95)
N = 60
Valor_a_pagar = (Preço - desconto)*N
frete = 3 + 0.75*(N-1)
Valor_total = Valor_a_pagar + frete
print('Valor = R$',Valor_total)

Valor = R$ 945.4499999999999

Exercicio 4:

In [52]:
L= 632.8/10**9 #nm
D =1.98 #m
d =0.25/10**3 #mm
DY = L*D/d #diatancia entre dois maximos
print(DY,'metros')

0.005011776 metros